html {
    font-family: 'Jua', sans-serif;
    font-size: 14px;
}

body {
    background-color: #88B04B;
}

nav img {
    width: 50px;
    padding: 15px;
}

p,
form input,
form button {
    font-family: 'Do Hyeon', sans-serif;
}

.contents_box {
    background-color: #F4F5F0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin: 100px auto;
    width: 40%;
    height: 60vh;
    text-align: center;
}

.contents_box h1 {
    color: #88B04B;
    padding-left: 0.8rem;
    letter-spacing: 0.8rem;
    font-size: 3vw;
    padding-top: 25px;
}

.contents_box h2 {
    font-weight: 400;
}

.content {
    background-image: url('../img/bell.png');
    background-size: cover;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.start {
    background-image: url('../img/bell2.png');
    background-size: cover;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    .contents_box {
        width: 80%;
        height: 60vh;
    }
    
    .contents_box h1 {
        font-size: 7vw;
    }

}